<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>image</key>
    <string>type_adventure.png</string>
    <key>text</key>
    <string>Adventure</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_dare.png</string>
    <key>text</key>
    <string>Dare</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_drinking.png</string>
    <key>text</key>
    <string>Drinking</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_exercise.png</string>
    <key>text</key>
    <string>Exercise</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_food.png</string>
    <key>text</key>
    <string>Food</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_nature.png</string>
    <key>text</key>
    <string>Nature</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_sights.png</string>
    <key>text</key>
    <string>Sights</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_strategy.png</string>
    <key>text</key>
    <string>Strategy</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_territory.png</string>
    <key>text</key>
    <string>Territory</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_trip.png</string>
    <key>text</key>
    <string>Trip</string>
  </dict>
  <dict>
    <key>image</key>
    <string>type_other.png</string>
    <key>text</key>
    <string>Other</string>
  </dict>
</array>
</plist>
